@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope';
  --color-base-black: #02021c;
  --color-neutrals-500: #c6cace;
  --color-primary-500: #d6375d;
}
