.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px;
  padding: 12px 0;
}

.header__tabs {
  display: none;
}

.header__tabs ul {
  display: flex;
  gap: 32px;
  margin: 0;

  list-style-type: none;
  padding-left: 0;
}

.header__tabs li {
  padding: 14px 16px;
}

.header__tabs a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: var(--color-base-black);
}

.header__cta {
  display: none;
  gap: 16px;
}

.header__cta a {
  padding: 14px 16px;
  border-radius: 10px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.header__cta a.button-primary {
  background: var(--color-primary-500);
  color: #fff;
}

.header__cta a.button-secondary {
  border: 1px solid var(--color-neutrals-500);
  background: #fff;
  color: var(--color-base-black);
}

/* X Small breakpoint */
@media screen and (min-width: 576px) {
  .header {
    width: 528px;
    margin: 0 auto;
  }
}

/* Small breakpoint */
@media screen and (min-width: 768px) {
  .header {
    width: 720px;
    margin: 0 auto;
  }
}

/* Medium breakpoint */
@media screen and (min-width: 1024px) {
  .header {
    width: 888px;
    margin: 0 auto;
  }

  .header__menu {
    display: none;
  }

  .header__tabs, .header__cta {
    display: flex;
  }
}

/* Large breakpoint */
@media screen and (min-width: 1280px) {
  .header {
    width: 1128px;
    margin: 0 auto;
  }
}

/* X Large breakpoint */
@media screen and (min-width: 1440px) {
  .header {
    width: 1128px;
    margin: 0 auto;
  }
}
