.header {
  border: 1px solid #000; /*DEV*/
  display: flex;
  justify-content: space-between;
  margin: 0 24px;
}

/* X Small breakpoint */
@media screen and (min-width: 576px) {
  .header {
    width: 528px;
    margin: 0 auto;
  }
}

/* Small breakpoint */
@media screen and (min-width: 768px) {
  .header {
    width: 720px;
    margin: 0 auto;
  }
}

/* Medium breakpoint */
@media screen and (min-width: 1024px) {
  .header {
    width: 888px;
    margin: 0 auto;
  }
}

/* Large breakpoint */
@media screen and (min-width: 1280px) {
  .header {
    width: 1128px;
    margin: 0 auto;
  }
}

/* X Large breakpoint */
@media screen and (min-width: 1440px) {
  .header {
    width: 1128px;
    margin: 0 auto;
  }
}